/* Estilos heredados de una plantilla html para CV basada en bootstrap */

/* Estos estilos se han refactorizado para que cumplan las guías de estilos y metodologías CSS
 elegidas para la PEC. Adicionalmente, se han sobreescrito algunas reglas y contenido de las mismas para
 que pase la validación de las reglas definidas en stylelint */

/* Estilos globales */

//standalone rules: no hay que englobar todo en la terminología BEM
//https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/

body {
  overflow-x: hidden;
  font-family: $font-family-trispace;
  color: #1a1a1a;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 15px;
}

li {
  padding: 0 0 10px;
}

/* layout */

.contenedor {
  width: 1000px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  z-index: 5;
  width: 260px;
  height: 100%;
  padding: 46px;
  background: $color1;
}

.header__avatar {
  width: 165px;
  height: 165px;
  overflow: hidden;
  border-radius: 50%;
}

.header__avatar img {
  width: 100%;
}

.header__nombre {
  margin: 34px 0;
}

.header__nombre h1 {
  margin: 0 0 5px;
  font-family: $font-family-trispace;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.header__nombre span {
  font-family: $font-family-trispace;
  font-size: 15px;
  font-weight: 300;
  color: #d8d8e9;
}

.header__social-icons {
  margin: 0 0 34px;
}

.list-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-icons__item {
  display: inline-block;
  padding: 0 20px 0 0;
}

.list-icons__item a {
  color: #fff;
}

.list-icons__item a i {
  font-size: 16px;
}

.list-icons__item:last-child {
  padding-right: 0;
}

.header-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header-menu__item {
  padding-bottom: 15px;
}

.header-menu__item a {
  position: relative;
  font-family: $font-family-trispace;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}

.header-menu__item a:hover,
.header-menu__item a:focus {
  color: #fff;
  text-decoration: none;
}

/* === Copyright === */
.copiright {
  position: absolute;
  bottom: 20px;
}

.copiright span {
  font-family: $font-family-trispace;
  font-size: 12px;
  font-weight: 300;
  color: #d8d8e9;
}

/* === Mobile Menu Bar === */
.header .mobile-bar {
  position: absolute;
  right: -59px;
  z-index: 3;
  width: 60px;
  height: 60px;
  color: #fff;
  background: rgba(12, 12, 12, 0.75);
}

.header .hamburger-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 30px;
  height: 55px;
  margin: auto;
  cursor: pointer;
}

.header .bar,
.header .bar::after,
.header .bar::before {
  width: 30px;
  height: 3px;
}

.header .bar {
  position: relative;
  background: #fff;
  transition: all 0 300ms;
  transform: translateY(25px);
}

.header .bar.animate {
  background: rgba(255, 255, 255, 0);
}

.header .bar::before {
  position: absolute;
  bottom: 10px;
  left: 0;
  content: "";
  background: #fff;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1) transform 300ms
    cubic-bezier(0.23, 1, 0.32, 1);
}

.header .bar::after {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  background: #fff;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1) transform 300ms
    cubic-bezier(0.23, 1, 0.32, 1);
}

.header .bar.animate::after {
  top: 0;
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1) transform 300ms 300ms
    cubic-bezier(0.23, 1, 0.32, 1);
  transform: rotate(45deg);
}

.header .bar.animate::before {
  bottom: 0;
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1) transform 300ms 300ms
    cubic-bezier(0.23, 1, 0.32, 1);
  transform: rotate(-45deg);
}

/* main content */

.main-content {
  width: 740px;
  background: #fff;
}

.main-content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  color: #2c2c2c;
}

.seccion-cv {
  position: relative;
  padding: 60px 70px;
  border-bottom: solid 1px #eee;
}

.seccion-cv__cabecera {
  position: relative;
  margin-bottom: 40px;
}

.seccion-cv__cabecera h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: $color2;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* about section */

.sobre-mi__info {
  padding: 0;
  margin-top: 40px;
  list-style: none;
}

.sobre-mi__info li {
  padding: 7px 0;
  font-size: 14px;
  font-weight: 300;
  color: #0c0c0c;
}

.sobre-mi__info li:first-child {
  padding-top: 0;
}

.about .intro p {
  margin: 0;
}

.sobre-mi__habilidades .item {
  margin-top: 40px;
}

.sobre-mi__habilidades .item .skill-info {
  margin-bottom: 30px;
}

.sobre-mi__habilidades .item .skill-info h3 {
  margin: 0;
  font-family: $font-family-trispace;
  font-size: 14px;
}

.sobre-mi__habilidades .item .skill-info span {
  font-family: $font-family-trispace;
  font-size: 12px;
  font-weight: 300;
  color: #9c9c9c;
}

.sobre-mi__llamar {
  position: absolute;
  top: -12px;
  right: 0;
  display: block;
  padding: 5px 10px;
  font-family: $font-family-trispace;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #5655da;
  border-radius: 3px;
}

/* resume sectio */

.cv__item--destacado {
  margin-top: 0 !important;
}

.cv__item {
  margin-top: 30px;
  overflow: hidden;
  background: #fff;
}

.cv__item h2 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
}

.cv__item span {
  display: block;
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

.cv__item p {
  margin-bottom: 0;
  line-height: 20px;
}

/* sección referencias */

.testimonials .item .thumb {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
}

.testimonials .item .text .author {
  font-size: 12px;
  color: #b1b1b1;
}

.btn-default {
  position: relative;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  background-color: #5655da;
  border: 0;

  border-radius: 3px;
}

.btn-default:hover {
  color: #fff;
  background-color: #5655da;
  border: 0;
}

.progress {
  height: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 0;
  box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 1px;
  color: #fff;
  text-align: center;
  background-color: $color2 !important;
  box-shadow: none;
  transition: width 0.6s ease;
}

.form-contacto__input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-top: 0;
  border-right: 0;
  border-bottom: solid 1px #0c0c0c;
  border-left: 0;
  border-radius: 0;
  box-shadow: none;
}

.form-contacto__input:focus {
  border-color: #c7c7c7;
  outline: 0;
  box-shadow: none;
}

.form-group {
  margin-bottom: 25px;
}

/* responsive */

@media only screen and (max-width: 991px) {
  .contenedor {
    width: 100%;
  }

  .header {
    transition: all 0.3s ease-in-out;
    transform: translateX(-260px);
  }

  .pushed {
    transform: translateX(0);
  }

  .main-content {
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  .main-pushed {
    transform: translateX(260px);
  }
}

@media only screen and (max-width: 480) {
  .main-content section {
    padding: 60px 30px;
  }
}

@media only screen and (max-height: 600) {
  .header__nombre {
    margin: 15px 0;
  }

  .header-menu__item {
    padding-bottom: 10px;
  }

  .header__social-icons {
    margin: 0 0 15px;
  }

  .copyright {
    position: relative;
    bottom: -18px;
  }
}
